<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ DATA.get("title") }}</title>
        <link rel="stylesheet" type="text/css" href="/resources/css/root.css" />
    </head>
    <body>
        <div class="container-no-nav">
            <button onclick="topFunction()" id="returnToTop" title="Go to top">Top</button>

            {% if DATA.get("is_index") %}<header>
                <p>Looking for a quick reference? Try the <a href="/cheat-sheet.html">Sand Cheat Sheet</a></p>
            </header>{% endif %}
            <div id="wrapper">
                {% block content %}{{ content|safe }}{% endblock %}
                <footer>
                    <p>Theme based on <a href="http://markedstyle.com/styles/minist">Minist</a>
                        by <a href="http://markedstyle.com/authors/1642">Miguel Bartelsman</a> from <a href="http://markedstyle.com">markedstyle.com</a></p>
                </footer>
            </div>
        </div>
        <script type="text/javascript">
            {% with a="This is a test", b="So is this" %}
                window.test = "{{ a }}";
            {% endwith %}

            window.onscroll = function(){
                scrollFunction();
            };

            function scrollFunction(){
                if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
                    document.getElementById("returnToTop").style.display = "block";
                }else{
                    document.getElementById("returnToTop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </body>
</html>