<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ DATA.get("title") }}</title>
        {{ ES6CSS.headers() | safe }}
    </head>
    <body>
        <div class="container-no-nav">
            <button id="returnToTop" title="Go to top">Top</button>

            {% if DATA.get("is_index") %}<header>
                <nav>
                    <a id="navigator" href="#">Navigation</a>
                    <div id="navigator-menu-container" class="main-navigation inactive"></div>
                </nav>
                <p>Looking for a quick reference? Try the <a href="/cheat-sheet.html">Sand Cheat Sheet</a></p>
            </header>{% endif %}
            <div id="wrapper">
                {% block content %}{{ content|safe }}{% endblock %}
                <footer>
                    <p>Theme based on Minist by Miguel Bartelsman</p>
                </footer>
            </div>
        </div>
        <script type="module">
            import "jquery";

            const $returnToTop = $("#returnToTop");

            {% with a="This is a test", b="So is this" %}
                window.test = "{{ a }}";
            {% endwith %}

            window.onscroll = function(){
                scrollFunction();
            };

            function scrollFunction(){
                if(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
                    $returnToTop.css("display", "block");
                }else{
                    $returnToTop.css("display", "none");
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
            $returnToTop.on("click", topFunction);
        </script>
    </body>
</html>